<% if(allProducts.length !== 0) { %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"> <th>ID</th><th>Nombre</th> <th>Precio</th> <th>Foto</th> </tr>
           <% for (const product in allProducts ) { %>
            <tr>
                <td> <%= allProducts[product].id %> </td>
                <td> <%= allProducts[product].title %> </td>
                <td> <%= allProducts[product].price %> </td>
                <td> <img class="col-2" src="<%= allProducts[product].thumbnail %> " alt="<%= allProducts[product].id %>" > </td>
            </tr>
            <% } %>
        </table>
    </div>
<% } else{ %> 
   <h3 style="color: black">no existen datos</h3>
<% };%> 